# Dependencies
node_modules/
package-lock.json

# Expo & Build
.expo/
.firebase/
dist/
web-build/
expo-env.d.ts

# Native & Keystores
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro & Logs
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# OS
.DS_Store
Thumbs.db
*.pem

# Local env files
.env*.local
.env

# TypeScript
*.tsbuildinfo

# Generated native folders
mobile/ios/
mobile/android/
